body, html {
    width: 100vw;
    min-width: 250px;
    min-height: 100vh;
    margin: 0;
  }
  
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.topnav {
  display: flex;
  overflow-x: hidden;
  background-color: rgb(24, 24, 24);
  justify-content: center;
}

.topnav a {
  float: left;
  color: rgb(160, 160, 160);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:#f44336;
  color: white;
}

.selected {
  color: black !important;
  background: whitesmoke !important;
  font-weight: bold;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  color: black;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  display: inline-block;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}

.paymentInput {
  width: 24.75%;
  margin-right: .25%;
}

.mealPlanInput {
  width: 37%;
  margin-right: .25%;
}

form{
  display: inline-block;
  width: 50%;
}

/* Style generic buttons */
.genericBtn {
  display: inline-block;
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-appearance: none;
}

.genericBtn:hover {
  background-color: #bbb;
}

.submitBtn {
  width: 75%;
}

.header > h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

#login-form > div > button {
  margin-bottom: 25px;
}

#login-header {
  position: relative;
  text-align: left;
  left: 10%;
}

#login-container {
  position: relative;
  top: 30vh;
  text-align: center;
  margin: auto;
  width: 25%;
  min-width: 400px;
  border: 2px solid rgba(245, 245, 245, 0.5);
  border-radius: 15px;
  background-color: rgba(24, 24, 24, 0.5);
}

.login-entry {
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.login-entry-label {
  margin-bottom: 5px;
  text-align: left;
}


