<!-- PureSnow -->
<script src="/jslibs/PureSnow/PureSnow.js"></script>
<div id="snow"></div>
<% if(!locals.hidenav || (hidenav == null || hidenav === false)) {%>
<div class="topnav">
    <a id="groc" href="http://localhost:5000/grocerylist" class="<%= selected === 'groc' ? 'selected' : '' %>">grocery list</a>
    <a id="meal" href="http://localhost:5000/mealplan" class="<%= selected === 'meal' ? 'selected' : '' %>">meal plan</a>
    <a id="payment" href="http://localhost:5000/payment" class="<%= selected === 'payment' ? 'selected' : '' %>">payment</a>
    <div id="right-aligned-nav-buttons">
      <a id="logout-icon" class="fas fa-sign-out-alt" href="/logout"></a>
    </div>
  </div>
<% } %>
  <script>
    var list = document.querySelector('div');
    list.addEventListener('click', function(ev) {
        if (ev.target.tagName === 'LI') {
            ev.target.classList.toggle('active');
        }
    }, false);
</script>