<div class="topnav">
    <a id="groc" href="http://localhost:5000/">grocery list</a>
    <a id="meal" href="http://localhost:5000/mealplan">meal plan</a>
    <a id="payment" href="http://localhost:5000/payment">payment</a>
  </div>

  <script>
    var list = document.querySelector('div');
    list.addEventListener('click', function(ev) {
        if (ev.target.tagName === 'LI') {
            ev.target.classList.toggle('active');
        }
    }, false);
</script>