<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head') %>
        <title>Login</title>
    </head>
    <body>
        <%- include('header', {selected: 'login', hidenav: true}); %>
        <div id="login-container">
            <h2 id="login-header">Login</h2>
            <form action="/login/auth" method="post" id="login-form">
                    <div>
                        <label class="login-entry-label" for="username">Username</label>
                        <input class="login-entry" id="username" name="username" type="text" autocomplete="username" required />
                    </div>
                    <div>
                        <label class="login-entry-label" for="current-password">Password</label>
                        <input class="login-entry" id="current-password" name="password" type="password" autocomplete="off" required />
                    </div>
                    <div>
                        <button type="submit">Sign in</button>
                        <button type="button"><a href="/register">Register</a></button>
                    </div>
            </form>
        </div>
    </body>
</html>