<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head') %>
        <title>Login</title>
    </head>
    <body>
        <%- include('header', {selected: 'login', hidenav: true}); %>
        <div id="login-container">
            <h2 id="login-header">Register</h2>
            <form action="/register/final" method="post" id="login-form">
                    <div>
                        <label class="login-entry-label" for="username">Username</label>
                        <input class="login-entry" id="username" name="username" type="text" autocomplete="username" required />
                    </div>
                    <div>
                        <label class="login-entry-label" for="password">Password</label>
                        <input class="login-entry" id="password" name="password" type="password" autocomplete="off" required />
                    </div>
                    <div>
                        <label class="login-entry-label" for="confirm-password">Confirm Password</label>
                        <input class="login-entry" id="confirm-password" name="confirm-password" type="password" autocomplete="off" required />
                    </div>
                    <div>
                        <button type="submit">Register</button>
                    </div>
            </form>
        </div>
    </body>
</html>